body {
    background-color: aqua;
    text-align: center;
    margin: 10%;
    text-align: center;
}

.carousel {
  margin-top: 10%;
  margin-left: 10%;
}

#coverImg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  animation: 3s ease 1s normal forwards 1 fadeOut;
}
@keyframes fadeOut {
  from {opacity: 1; z-index: 1;}
  to {opacity: 0; z-index: -1;}
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
      animation-delay: 1.3s;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }